section.about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px 7%;
}
.about h2{
    text-align: center;
    color: var(--textColor);
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}
.about span{
    color: var(--btnColor);
}
.about .description {
    display: flex;
    justify-content: space-around;
    background-color: var(--grayDarkColor);
    margin: 5% 0;
}
.about .description .image {
    width: 50%;
    position: relative;
}
.about .description .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .description .content {
    width: 50%;
    color: var(--textColor);
    padding: 30px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.about .description .content h3{
    font-size: 30px;
}
.about .description .content p {
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.8;
}
.about .description .content button{
    margin-top: 30px;
    display: inline-block;
    padding: 8px;
    width: 10rem;
    font-size: 17px;
    color: var(--textColor);
    background: var(--btnColor);
    cursor: pointer;
    border-radius: 8px;
}
.about .description .content button:hover{
    background-color: var(--btnHover);
}
.about .who-we-are{
    margin: 50px 0;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: var(--grayDarkColor);
}
.about .who-we-are .video{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .who-we-are .content{
    padding: 50px;
    text-align: left;
    color: var(--textColor);
}
@media screen and (max-width: 820px) {
    .about .description,
    .about .who-we-are{
        flex-direction: column;
    }
    .about .description .image,
    .about .description .content{
        width: 100%;
    }
    .about .who-we-are .video{
        width: 100%;
    }
}